*{
    margin: 0;
    padding: 0;
}

h1:hover{
    color: darkgoldenrod;
}
.panel-jugada{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.img{
    width: 300px;
    height: auto;
    border-radius: 20%;
    border: 1px solid #000;
}

.img:hover{
    transform: scale(1.2);
}

h1{
    font-size: 90px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

button{
    width: 5rem;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

button:hover{
    color: chocolate;
}

p, label{
    margin-bottom: 1rem;
    margin-top: 1rem;
}